theme = "solarized-dark"
icons = "awesome"

[[block]]
block = "music"
player = "vlc"
buttons = ["play", "next"]

[[block]]
block = "networkmanager"
on_click = "alacritty -e nmtui"

[[block]]
block = "disk_space"
path = "/"
alias = "ï‚  "
info_type = "available"
unit = "GB"
interval = 20
warning = 20.0
alert = 10.0

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{Mup}%"
format_swap = "{SUp}%"

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "load"
interval = 1
format = "{1m}"

[[block]]
block = "temperature"
interval = 10
collapsed = true

[[block]]
block = "battery"
interval = 10

[[block]]
block = "pacman"
interval = 10

[[block]]
block = "time"
interval = 60
format = "%a %d-%m %R"
on_click = "firefox https://bluehood.dev/nextcloud/apps/calendar"

[[block]]
block = "sound"
